<div class="text-center">
    <br>
    <h1>OTRA</h1> 
    <p>Online Ticket Reservation Application</p> 
    <img src="/images/tmdb_logo.png" alt="tmdb">
    <button class="btn">getSessions</button> 
    

</div>